@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Survey Online";
}
<div class="full-page-banner">
    <div class="wrapper">
        <div class="banner-text">
            <h1>Survey Online</h1>
            <h4>Do survey easily</h4>
        </div>
    </div>
</div>
<div>
    <div class="wrapper info-block">
        <center><h2>Sophisticated research made simple</h2></center>
        <div class="image-set">
            <div class="home-create">
                <img src="../Images/create_home_icon.png" alt="easy create">
                <p>Create surveys</p>
            </div>
            <div class="arrow-right"></div>
            <div class="home-collect">
                <img src="../Images/collect_home_icon.png" alt="easy create">
                <p>Collect responses</p>
            </div>
            <div class="arrow-right"></div>
            <div class="home-analyze">
                <img src="../Images/analyze_home_icon.png" alt="easy create">
                <p>Analyse results</p>
            </div>
        </div>
    </div>
</div>