@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-about">
    <div class="wrapper">
        <div>
        <h1>Survey online - </h1>
            <h3>free system for creating and conducting surveys of any orientation.</h3>
        </div>
    </div>
</div>

