@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-faq">
    <div class="wrapper">
        <h3>How I can create survey?</h3>
        <p>You must be logged in web site. Than follow to page my surveys and click button create.</p>
        <h3>How I can conduct my survey?</h3>
        <p>You can share lint to conduct via email.</p>
        <h3>How I can view survey result?</h3>
        <p>You can open suyrvey statistic in survey list.</p>
        <h3>How I can contact to admins?</h3>
        <p>Use page contact us.</p>
    </div>
</div>

