@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-howit">
    <div class="wrapper">
        <h3>Register or login to site</h3>
        <p>For operation of surveys you must to be customer of web-site</p>
        <h3>Create survey</h3>
        <p>Open my surveys page and create your survey</p>
        <h3>Conduct you survey</h3>
        <p>Share link to conduct survey</p>
        <h3>Analitiz survey result</h3>
        <p>Open survey statistic and analitic result</p>

    </div>
</div>

