@{
    ViewBag.Title = "Feedback | Survey Online";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper sent-page">
    <a href="/" class="btn-link">Home</a>
    <div class="alert alert-dismissible alert-success">

        <strong>Thanks!</strong> <br>
        Your feedback is very important for us!
    </div>
</div>
