@{
    ViewBag.Title = "Feedback | Survey Online";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/" class="btn-link">Головна сторінка</a>
<div class="alert alert-dismissible alert-success">
    <strong>Дякуємо.</strong> <br>
    Ваше повідомлення буде обов'язково розглянуто адміністрацією.
    <br>Разом з Вами мі робимо сервіс краще!
</div>
