@model  IEnumerable<SurveyOnline.WebSite.ViewModels.SurveyViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "My Surveys";
}
<div>
    <div class="wrapper">
        <center><h3>My Surveys</h3></center>
        <div class="Table table table-striped table-hover">
            <div class="Table-row Table-header ">
                <div class="Table-row-item">Title</div>
                <div class="Table-row-item u-Flex-grow3">Description</div>
                <div class="Table-row-item">Status</div>
                <div class="Table-row-item">Conduct</div>
                <div class="Table-row-item">View</div>
                <div class="Table-row-item">Statistic</div>
            </div>
            @foreach (var survey in Model)
            {
                <div class="Table-row">
                    <div class="Table-row-item"><strong>@survey.SurveyName</strong></div>
                    <div class="Table-row-item  u-Flex-grow3"> @survey.SurveyDescription</div>
                    <div class="Table-row-item">
                        @if (survey.SurveyStatus)
                        {
                            <span><i class="fa fa-check" aria-hidden="true"></i></span>
                        }
                        else
                        {
                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                        }
                    </div>
                    <div class="Table-row-item">
                        <a><i class="fa fa-bars" aria-hidden="true" data-toggle="dropdown"></i></a>
                        <ul class="dropdown-menu spend-variants-list" role="menu">
                            <li><a href="/@survey.SurveyUrl" target="_blank">Url for conduct</a></li>
                            <li><a href="#">Send by e-mail</a></li>
                        </ul>
                    </div>
                    <div class="Table-row-item"><a href="/survey/detail/@survey.SurveyId">Detail</a></div>
                    <div class="Table-row-item"><a href="/survey/statistic/@survey.SurveyId">Statistic</a></div>
                </div>
            }
            <div class="btn btn-default"><a href="/survey/create">Create survey</a></div>
        </div>
    </div>
</div>
