@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="top-header">
                <div class="header-phone">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p class="header-phone-text">Questions? Call us 0 111 123 45 67</p>
                </div>
                <div>
                    <ul class="top-menu">
                        @if(!User.Identity.IsAuthenticated)
                        {
                            <li class="top-nav-item"><a href="/Account/Login">Login</a></li>
                        }
                        <li class="top-nav-item dropdown">
                            <a class="nav-itm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-header" role="menu">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                     <li><a href="/Account/Login">Login</a></li>
                                     <li><a href="/Account/Register">Registration</a></li>
                                }
                                else
                                {
                                        <li><a>Welcome &nbsp<strong>@User.Identity.GetUserName()</strong></a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" class="nav-itm">Profile</a></li>
                                        <li><a href="/survey/list" class="nav-itm">My Surveys</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Account/LogOff">Log off</a></li>
                                }
                            </ul> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-header">
                <div class="site-logo">
                    <a href="/">
                        <img src="~/Images/logo.png" alt="logo" class="img-logo" />
                    </a>
                </div>
                <div class="social-links"></div>
            </div>
        </div>
    </header>
    <div class="main-nav navbar-default">
        <div class="wrapper">
            <ul class="main-nav-list nav navbar-nav">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="~/Content/about">About us</a></li>
                <li class="nav-item"><a href="~/Content/howit">How it...</a></li>
                <li class="nav-item"><a href="~/Content/faq">FAQ</a></li>
                <li class="nav-item"><a href="/Feedback">Contact us</a></li>
            </ul>
        </div>
    </div>
    @RenderBody()
    <footer class="jumbotron">
        <div class="wrapper">
            <div class="top-footer">
                <div class="footer-menu">
                    <ul>
                        <li>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <a href="~/Content/Faq">FAQ</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="Copyright">
                    <p>Copyright &copy; @DateTime.Now.Year - Survey Online System</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/jQuery/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>